<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55611526582-5dng0r77vlf1bq6pf3sui491j2ltdpsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55611526582-5dng0r77vlf1bq6pf3sui491j2ltdpsn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>55611526582-j1pak7pvos2o0tbkk43m1d7q5ghb6qbq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAq-tOTM4ZQNXeijJ8Ch--_cWNh6pG9Q2A</string>
	<key>GCM_SENDER_ID</key>
	<string>55611526582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godzy.egoteServicesV2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>egoteback</string>
	<key>STORAGE_BUCKET</key>
	<string>egoteback.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55611526582:ios:f75a8cc3782a240b080517</string>
	<key>DATABASE_URL</key>
	<string>https://egoteback-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>